POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

ADMIN_LOGIN=admin
ADMIN_PASSWORD=123456

SECRET_KEY=w3c2-Y5PgoL6Yaw7bKD5SfNaSv3pHLl7YItBKsM9RHY=
SECRET_KEY=-secret-key-32-characters-=
